<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.utehy.econtact">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/anh_ic_logo_khoa_cntt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/anh_ic_logo_khoa_cntt"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activity.HocPhiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CatDatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HocKiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DiemRenLuyenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DiemHocTapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HocTapActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Ma_OTP_Activity"
            android:exported="false" />

        <activity
            android:name=".Activity.QuenmatkhauActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManHinhChinhActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HoSoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.QuaTrinhActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LienHeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.NotificationService" />
    </application>

</manifest>